body {
    margin: 5px auto;
    border: 1px solid black;
    width: 600px;
    height: 1200px;

    font-family: 'Smythe', serif;
    color: black;
}

header {
    position: relative;
    top: 0;
    margin: 0;
    height: 167px;
    width: 600px;
    background-image: url(files/header.png);

    color: white;
    
    .header-container{
        position: absolute;
    }

    h1 {
        font-size: 2.4375rem;
        margin: 56px 0 16px 46px;
        line-height: 24px;
    }
    
    p {
        font-size: 1.40125rem;
        margin: 0 0 0 46px;
        line-height: 13.8px;
    }
}

.stroke {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #DEDEDE;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

section h2 {
    font-size: 1.75rem;
}

section .price {
    font-size: 1.25rem;
    font-weight: bold;
}


.menu-item-card-container {
    position: relative;

    margin: 67px auto;
    display: flex;
    align-items: start;
    /* justify-content: center; */

    width: 508px;
    height: 140px;

    border-bottom: 1px solid gray;

}

.menu-item-img {
    /* width: 70px; */
    height: 89px;
    
    margin: 0;
    padding: 0;
}

.menu-item-info {
    margin-left: 31px;
}

.menu-item-title {
    margin: 7.2px 0 0 0;
    font-weight: 700;
}

.menu-item-description {
    color: #8B8B8B;
    
    margin: 8.8px 0 0;

    font-weight: bold;
    font-size: 1rem;
}

.menu-item-price {
    margin: 8px 0 0;
}

.menu-item-add-btn {
    position: absolute;
    left: auto;
    right: 0px;
    top: 8px;

    margin: 8px;
    width: 50px;
    height: 50px;

    background-color: transparent;

    border-radius: 50%;
    border: 1px solid #DEDEDE;


    font-family: "Arial", sans-serif;
    font-size: 2rem;
    font-weight: 200;
    color: #3C3C3C;

    margin: 0;
    padding: 0;

    line-height: 1.5rem;
}

.checkout-container {
    width: 508px;
    height: 319px;
    margin: auto;

    position: relative;

    /* border: 1px solid red; */
}

.checkout-container h2 {
    margin: 0;
}

.checkout-summary-container {
    padding-bottom: 31px;
    border-bottom: 2px solid #393333;
}

.checkout-item-container {
    position: relative;
    display: flex;
    
    align-items: center;
    gap: 10px;

    margin: 22px 0 0 0;

}

.checkout-item-container button {
    border: none;
    background-color: transparent;

    font-family: "Verdana", sans-serif;
    font-size: 0.75rem;

    color: #BBBBBB;
}

.checkout-item-price {
    position: absolute;
    right: 4px;
}

.checkout-total-container {
    /* margin: 14px 0 0 0; */
    /* position: relative; */


    display: flex;
    align-items: center;

    gap: auto;
}

.checkout-total-container h2 {
    /* position: absolute; */
    margin: 0;
}

.checkout-total-container .price {
    margin-left: auto;
    margin-right: 4px;
}

/* .checkout-btn-container {

} */

.checkout-btn {
    position: absolute;
    bottom: 0px;
}

.buy-btn {
    width: 508px;
    height: 60px;

    border: none;
    border-radius: 4px;
    background-color: #16DB99;

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1rem;

    cursor: pointer;
}

.buy-btn:hover {
    background-color: #11c589;
}

.payment-modal {
    position: fixed;
    z-index: 1;

    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 524px;
    height: 542px;
    
    text-align: center;

    font-size: 1rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.payment-modal-title {
    font-size: 2rem;
}

.payment-modal label {
    color: #757575;
    font-size: 1.25rem;
}

.payment-modal input {
    width: 475px;
    display: block;
    margin: 0 auto;
    margin-bottom: 23px;

    font-size: 1.25rem;

    height: 71.3px;

    border-radius: 3.89px;
}

.payment-modal ::placeholder {
    color: #757575;
    margin: 14.5px 0 14.5px 26.53px;

    font-size: 1.25rem;
}

.indent {
    text-indent: 10px;
}

.payment-modal-pay-btn {
    text-indent: 0;
}

